@media print {

	#content, #page {
		width: 100%; 
		margin: 0; 
		float: none;
	}

	@page { 
<<<<<<< HEAD
		margin: 1 in 
=======
		margin: 1 in;
		size: letter portrait;
>>>>>>> demo
	}


	

	a {
    	page-break-inside:avoid
	}

	blockquote {
   		page-break-inside: avoid;
	}

	h1, h2, h3, h4, h5, h6 { 
		page-break-after:avoid; 
     	page-break-inside:avoid; 
    }

	img { 
		page-break-inside:avoid; 
    	page-break-after:avoid; 
 	}

	table, pre {
		page-break-inside:avoid;
	}
	ul, ol, dl  {
		page-break-before:avoid
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> demo
